*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.grid__container{
    max-width: 960px;
    margin:7px auto;
    border:1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid{
    border:0.5px dotted black;
}

