@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}


.sketch__wrapper{
    min-height:50vh;
     background-color:yellow;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sketch__heading,
.sketch__intro{
    margin:12px;
    text-align: center;
}

.grid__container{
    max-width: 960px;
    margin:14px;
    border:2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(254, 252, 252);    
}

.grid{
    cursor: pointer;
}

.start__container{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.start__btn,
.clean__btn{
    display: block;
     width:100px;
    padding:10px;
    font-weight: bold;
    color:rgb(244, 7, 46);
    background-color: pink;
    border: none;
    border-radius:5px;
    cursor: pointer;
    font-size:10px;

}


.start__btn:active{
    transform: scale(95%);
}

footer a{
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    color: black;
}
